body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #a1a576;
    color: white;
}

h1{
    text-align: center;
    margin-top: 20px;
}
p{
    font-size: 18px;
    line-height: 1.6;
    margin: 20px;
    text-align: center;
}